@charset "utf-8";

body{
   background-color: rgba(229, 248, 183, 0.274); 
}

/* 個人簡介 */
.self-introduction{
    display:flex;
    justify-content: center;
    width: 90%;
    height: 30vh;
    margin: 40px auto 30px;
}
.self-introduction h2{
    font-family: "LXGW WenKai Mono TC", "Nunito", monospace;
    font-weight: 600;
    font-size:20px;
    background:rgb(222, 216, 171);
    text-align: center;
    width: 160px;
    height: 170px;
    line-height: 170px;
    border-radius: 10px;
}
.self-introduction ul{
    font-family: "LXGW WenKai Mono TC", "Nunito", monospace;
    background:rgb(255, 250, 216);
    padding: 15px 20px 15px 30px;
    text-align: left;
    width: 370px;
    height: 170px;
    list-style-type: circle;
    border-radius: 10px;
}
.self-introduction li{
    margin-bottom: 5px;
    line-height: 1.3;
}
.others-info .open-btn:hover{
    text-decoration: underline double rgb(186, 170, 53);
}
.self-introduction::after{
    content:"";
    background: url("../images/background1.jpg") no-repeat center center/cover;
    width: 100%;
    height: 240px;
    position:fixed;
    top:200px;
    left:0px;
    z-index:-100;
}

/* 自傳 */
.biography{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.biography.x{
    display: none;
}
.biography-content h4{
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}
.biography-content{
    position: relative;
    max-width: 650px;
    background: rgb(255, 250, 216);
    padding: 30px;
    font-family: "LXGW WenKai Mono TC", "Nunito", monospace;
    line-height: 1.5;
    border-radius: 20px;
}
.close-btn{
    position: absolute;
    top: 8px;
    right: 10px;
    background-color:#f00;
    width: 25px;
    height: 25px;
    line-height:25px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
}

/* 作品 */
.project-part{
    width: 90%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px auto;
}
.project-part::after{
    content:"";
    background:url("../images/decoration.png")no-repeat right bottom/cover;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 40px;
    bottom: 70px;
}
.project1{
    width: 45%;
    height: 80vh;
    background:rgb(223, 219, 187);
    line-height: 1.5;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}
.project1:hover{
    filter: saturate(160%);
}
.description{
    font-family: "LXGW WenKai Mono TC", "Nunito", monospace;
    text-align: left;
}
.description ul{
    width: 85%;
    margin: auto;
    list-style-type: circle;
}
.description h6{
    font-weight: 600;
}
.project2{
    width: 45%;
    height: 80vh;
    background: rgb(223, 219, 187);
    line-height: 1.5;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}
.project2:hover{
    filter: saturate(160%);
}
.project-part img{
    width: 90%;
    display: block;
    margin: 20px auto;
    border-radius: 40px;
}
.info-part{
    margin-bottom: 20px;
}
.info-part h4{
    text-align: center;
    margin-top: 15px;
    font-family: "LXGW WenKai Mono TC", "Nunito", monospace;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .04em;
}
.info-part p{
    text-align: center;
    font-family: "LXGW WenKai Mono TC", "Nunito", monospace;
    border-bottom: dashed 3px rgb(163, 153, 79);
    padding-bottom: 5px;
}
.project1-img-part>.project1-img{
    position: absolute;
    bottom: 0px;
    right: 30px;
    opacity: 0;
    animation: project1Animation 48s linear infinite;
}
@keyframes project1Animation{
    5%{
        opacity: 1;
    }
    10%{
        opacity: 1;
    }
    16%{
        opacity: 0;
    }
}
.project1-img-part>.project1-img:nth-child(6){
    animation-delay: 40s;
}
.project1-img-part>.project1-img:nth-child(5){
    animation-delay: 32s;
}
.project1-img-part>.project1-img:nth-child(4){
    animation-delay: 24s;
}
.project1-img-part>.project1-img:nth-child(3){
    animation-delay: 16s;
}
.project1-img-part>.project1-img:nth-child(2){
    animation-delay: 8s;
}
.project1-img-part>.project1-img:nth-child(1){
    animation-delay: 0s;
}

.project2-img-part>.project2-img{
    position: absolute;
    bottom: 0px;
    right: 30px;
    opacity: 0;
    animation: project2Animation 40s linear infinite;
}
@keyframes project2Animation{
    5%{
        opacity: .8;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    20%{
        opacity: .8;
    }
    25%{
        opacity: 0;
    }
}
.project2-img-part>.project2-img:nth-child(4){
    animation-delay:  24s;
}
.project2-img-part>.project2-img:nth-child(3){
    animation-delay:  16s;
}
.project2-img-part>.project2-img:nth-child(2){
    animation-delay:  8s;
}
.project2-img-part>.project2-img:nth-child(1){
    animation-delay:  0s;
}

/* 手機、平板 */
@media screen and (max-width:960px){
    
    /* 個人簡介 */
    .self-introduction{
        flex-direction: column;
    }
    .self-introduction h2{
        width: 92%;
        height: 40px;
        line-height: 40px; 
        margin: 0px auto;
        border-radius: 6px;
        font-size: 18px;
    }
    .self-introduction ul{
        width: 92%;
        height: 180px;
        margin: 0 auto;
        border-radius: 6px;
        font-size: 16px;
        padding: 15px 10px 15px 25px;
    }
    .self-introduction li{
        line-height: 1.5;
        white-space: nowrap;
    }
    
    /* 自傳 */
    .biography-content h4{
        font-size: 18px;
    }
    .biography-content{
        max-width: 300px;
        overflow: hidden scroll;
    }
    .project-part{
        display: block;
    }
    .project-part::after{
        content:"";
        background:none;
    }
    .project1, .project2{
        width: 92%;
        margin: auto;
        border-radius: 10px;
        padding: 10px 20px 20px;
        margin-bottom: 20px;
        position: relative;
    }
    .project1{
        height: 600px;
    }
    .project2{
        height: 460px;
    }
    .project2::after{
        content:"";
        background:url("../images/decoration.png")no-repeat right bottom/cover;
        width: 120px;
        height: 120px;
        position: absolute;
        right: -45px;
        bottom: -4px;
    }
    .info-part{
        font-size: 16px;
    }
    .project-part img{
        margin: 10px auto;
        border-radius: 20px;
    }
    .project1-img-part>.project1-img{
        position: absolute;
        bottom: 5px;
        right: 15px;
    }
    .project2-img-part>.project2-img{
        position: absolute;
        bottom: 5px;
        right: 15px;
    }
    .description{
        font-size: 16px;
    }
}